body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
}

#visual-timer {
    background-color: #004d00;
    height: 100vh;
    margin: 0 50px;
    width: 50px;
}

.height-change {
    /* Animation code */
    -webkit-animation-name: heightChange; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 60s; /* Safari 4.0 - 8.0 */
    animation-name: heightChange;
    animation-duration: 60s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes heightChange {
    0%   {height: 100vh;}
    25%  {height: 75vh;}
    50%  {height: 50vh;}
    75%  {height: 25vh;}
    100% {height: 0vh;}
}

/* Standard syntax */
@keyframes heightChange {
    0%   {height: 100vh;}
    25%  {height: 75vh;}
    50%  {height: 50vh;}
    75%  {height: 25vh;}
    100% {height: 0vh;}
}

#timer-wrapper {
    align-items: center;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#time {
    font-size: 50px;
    text-align: center;
}