<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
  <title>Listado de Productos</title>
</head>
<body>
  <h1>Listado de Productos</h1>
  <ul>
    <% productos.forEach(producto => { %>
      <li class="listas"><%= producto.nombre %> - Precio: $<%= producto.precio.toFixed(2) %></li>
    <% }); %>
  </ul>
</body>
</html>
